.frame304 {
  position: absolute;
  width: 1366px;
  height: 76px;
  left: 0px;
  top: 73px;

  background: #ffffff;
}
@media (max-width: 700px) {
  .frame304 {
    position: fixed;
    width: 100vw;
    height: 3rem;
    left: 0;
    top: 4.5rem;

    background: #ffffff;
    z-index: 100;
  }
}
